<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework 11-12 chapter 2</title>

  <link rel="stylesheet" href="css/stylesheet.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
  <script src="js/script.js" charset="utf-8"></script>

</head>
<body>
  <script type="text/template" id="biography-template">
    <div class="about">
      <h1><%-about.name%></h1>
      <img src=<%=about.photo%> alt="photo">
      <p><%-about.description%></p>
    </div>
    <div class="mission">
      <hr>
      <h2><%-mission.message%></h2>

      <ul>
        <% mission.reasons.forEach(function(reason) { %>
        <li><%-reason%></li>
        <% }); %>
      </ul>
    </div>
    <div class="phone-number">
      <hr>
      <h2><%-phoneContacts.description%></h2>
      <p><%-phoneContacts.phoneNumber%></p>
    </div>
    <div class="vk">
      <h2><%-vkontakteContacts.description%></h2>
      <a href=<%-vkontakteContacts.url.link%>><%-vkontakteContacts.url.description%></a>
    </div>
    <div class="feedback">
      <hr>
      <h2><%-feedback.description%></h2>
      <p><%-feedback.joke%></p>
    </div>
  </script>
</body>
</html>
