.carousel-list {
  list-style: none;
  width: 10000px;
  padding: 0;
  position: relative;
}

.carousel-element {
  display: block;
  margin-right: 25px;
  float: left;
}

.carousel-element img {
  max-width: 150px;
}

.carousel-hider {
  width: 600px;
  overflow: hidden;
  float: left;
}

.carousel-arrow-left,
.carousel-arrow-right {
  float: left;
  display: block;
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 5px;
  margin-top: 50px;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  cursor: pointer;
  background-color: grey;
}

.carousel-arrow-left {
  margin-left: 25px;
  margin-right: 20px;
}

.carousel-arrow-right {
  margin-right: 25px;
  margin-left: 20px;
}
